.container {
    min-width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--primary);
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 18px 30px -20px rgba(0,0,0,.4);
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: 4px solid var(--primary);
    box-shadow: 0 0 0 5px var(--accent);
    position: relative;
}

.input {
    text-align: center;
    font-weight: 700;
    color: #fff;

    &:focus {
        border-bottom: 1px solid var(--accent);
    }

    &::-webkit-input-placeholder {
        color: #cacaca;
    }
}

.photo_overlay {
    width: 100%;
    height: 100%;
    position:  absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(0,0,0, .4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }
}

.change_photo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }
}