.search_container {
    position: relative;
}

.search_input {
    padding: 15px;
    padding-left: 25px;
}

.search_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #aaaaaa;
}

.search_clear {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #6e6e6e;

    &:hover {
        cursor: pointer;
        color: #2b2b2b;
    }
}