.navbar__user {
    display: flex;
    align-items: center;
    padding: 2px;
    padding-right: 15px;
    background: #f4f4f4;
    border-radius: 20px;
    transition: background .3s ease;
    position: relative;

    &:hover {
        cursor: pointer;
        background: var(--accent);
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
        background: #e1e1e1;
    }

    &_dropdown {
        width: 150px;
        position: absolute;
        right: 0;
        top: 45px;
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 2px 15px 20px rgba(0,0,0, .2);
    }
}
