:root { // DEFINE VARIABLES SO JS CAN ALSO USE THEM
    --primary: #3895D3;
    --primary-hover: #227bb6;
    --accent: #f3c234;
    --accent-hover: #e6b218;
    --accent-1: #1adad3;
    --accent-1-hover: #0fbeb9;
    --text-color: #1a1a1a;
    --nav_link: #1b1e20;
    --nav_link-inactive: #8e969c;
    --facebook-bg: #039be5;
    --facebook-bg-hovered: #0180c0;
    --google-bg: #fff;
    --google-bg-hovered: #f1f1f1;
    --error: #f84a4a;
}

$primary: #3895D3;
$primary-hover: #227bb6;
$accent: #f3c234;
$accent-hover: #e6b218;
$accent-1: #1adad3;
$accent-1-hover: #0fbeb9;
$text-color: #1a1a1a;
$nav_link: #1b1e20;
$nav_link-inactive: #8e969c;
$facebook-bg: #039be5;
$facebook-bg-hovered: #0180c0;
$google-bg: #fff;
$google-bg-hovered: #f1f1f1;
$error: #f84a4a;

* {
  font-family: 'Gilroy', sans-serif;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    background: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: var(--primary);

    &:hover { 
        color: var(--primary-hover);
     }
}

button {
    background: var(--primary);
    padding: 12px 15px;
    border-radius: 20px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    transition: all .4s ease;
    position: relative;

    &:hover {
        cursor: pointer;
        background: var(--primary-hover);
    }

    &:disabled {
        opacity: .6;
        cursor: default;
    }
}

input,
textarea {
    padding: 5px 12px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    border-bottom: 1px solid #e1e1e1;

    &:focus {
        border-bottom : 1px solid var(--primary);
    }

    &:disabled,
    &:read-only {
        opacity: .6;
        cursor: default;
    }
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

input[type=checkbox] + label,
input[type=radio] + label {
  font-size: 14px;
  background: none;
  border: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
}


input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content:'';
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  // box-shadow: 0 0 0 $white,  inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
  transition: all .3s ease;
}

input[type=checkbox] + label:after,
input[type=radio] + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
  width: 3px;
  height: 10px;
  border: solid #f1f1f1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all .3s ease;
}

input[type=checkbox]:hover + label:before,
input[type=radio]:hover + label:before {
  border: 2px solid darken(#e1e1e1, 5%);
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  border: 2px solid #cacaca;
	background: #a1a1a1;
}

input[type=checkbox]:checked + label:after,
input[type=radio]:checked + label:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

select {
    border: 1px solid #e1e1e1;
    padding: 8px 12px;
    outline: none;
}

textarea {
    resize: none;
}