.container {
    width: 100%;
}

.search_text {
    margin-bottom: 20px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}