.input--error {
    border-bottom: 1px solid var(--error);
    // color: var(--error);
}

.label--error {
    color: var(--error);
    font-size: 12px;
}

%msg {
    padding: 5px 0;
    display: block;
}

.msg--error {
    @extend %msg;
    color: var(--error);
    background: rgb(255, 226, 226);
    text-align: center;
}

.msg--success {
    @extend %msg;
    color: var(--success);
}