.text-subtle {
    color: #757474;
}

.text-xs {
    font-size: 12px;
}
.text-sm {
    font-size: 14px;
}

.info {
    display: inline-block;
    background: transparentize($primary, .9);
    padding: 5px;
}

.text-primary {
    color: $primary;
}

.text-bold {
    font-weight: 700;
}

.block {
    display: block;
}

.mb-4 {
    margin-bottom: 12px;
}