.navbar {
    width: 100%;
    height: 65px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar__menu_item {
    padding: 10px 15px;
    list-style: none;
}

.navbar__menu_item a {
    text-decoration: none;
    font-weight: bold;
    color: var(--nav_link);
}

.navbar__logo {
    width: 100px;
    height: 70px;
}