.sidebar {
    min-width: 300px;
    height: 100%;
    position: sticky;
    top: 80px;
    padding: 20 0px;
    margin-right: 50px;
}
.share {
    width: 100%;
    display: flex;
    justify-content: center;
}
